
.card-img {
  background-color: #ffff;
  overflow: hidden;
  position: relative;
}
.card-img::before {
  content: "";
  position: absolute;
  right: -30px; /* Điều chỉnh để ellipse nằm ngay tại cạnh phải của `.card-img` */
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 40px; /* Điều chỉnh chiều rộng của ellipse */
  height: 80px; /* Điều chỉnh chiều cao của ellipse */
  background-color: #ffff; /* Màu của ellipse */
  border-radius: 50%; /* Làm cho các góc trở nên tròn để tạo ra hình ellipse */
}
.card-img::after {
  content: "";
  position: absolute;
  left: -30px; /* Điều chỉnh để ellipse nằm ngay tại cạnh phải của `.card-img` */
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 40px; /* Điều chỉnh chiều rộng của ellipse */
  height: 80px; /* Điều chỉnh chiều cao của ellipse */
  background-color: #ffff; /* Màu của ellipse */
  border-radius: 50%; /* Làm cho các góc trở nên tròn để tạo ra hình ellipse */
}
.image-container {

  width: 100%;
  overflow: hidden;
  position: relative;
  > div {
    position: unset !important;
  }

  .img-home {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
  }
  &::after, &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 40px; /* Điều chỉnh chiều rộng của ellipse */
    height: 80px; /* Điều chỉnh chiều cao của ellipse */
    background-color: #ffff; /* Màu của ellipse */
    border-radius: 50%; /* Làm cho các góc trở nên tròn để tạo ra hình ellipse */
    display: block; /* Thêm thuộc tính display */
  }
  &::after {
    left: -30px;
  }
  &::before {
    right: -30px;
    z-index: 88;
  }
}
@media (max-width: 768px) {
  .image-container::before {
    right: -50px; /* Thay đổi giá trị cho màn hình điện thoại */
    z-index: 88;
  }
  .image-container::after {
    left: -50px; /* Thay đổi giá trị cho màn hình điện thoại */
  }
  .radius-img{
    border-radius: 16px;
  }
}
.radius-img{
  border-radius: 36px;
}
@media (max-width:1200px){
  .radius-img{
    border-radius: 24px;
  }
}

.img-custom{
  width: 100%;
  overflow: hidden;
  position: relative;
  > div {
    position: unset !important;
  }

  .img-inner {
    object-fit:cover;
    width: 100% !important;
    position: relative !important;
  }
}




// .img-custom {
//   /* Đảm bảo kích thước của container phù hợp */
//   width: 100%; /* Hoặc bạn có thể đặt chiều rộng cố định */
//   aspect-ratio: 1 / 1; /* Tạo tỷ lệ hình vuông */
//   display: flex; /* Sử dụng flex để căn giữa hình ảnh */
//   justify-content: center;
//   align-items: center;
//   overflow: hidden; /* Ẩn phần hình ảnh nằm ngoài kích thước container */
//   > div {
//     position: unset !important;
//   }
// .img-inner {
//   object-fit: cover; /* Đảm bảo hình ảnh phủ đầy container mà không làm méo */
//   width: 100%; /* Đảm bảo hình ảnh phủ đầy chiều rộng của container */
//   height: 100%; /* Đảm bảo hình ảnh phủ đầy chiều cao của container */
// }
// }


