
.card-img {
  background-color: #ffff;
  overflow: hidden;
  position: relative;
}
.card-img::before {
  content: "";
  position: absolute;
  right: -40px; /* Điều chỉnh để ellipse nằm ngay tại cạnh phải của `.card-img` */
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 40px; /* Điều chỉnh chiều rộng của ellipse */
  height: 80px; /* Điều chỉnh chiều cao của ellipse */
  background-color: #ECECEC; /* Màu của ellipse */
  border-radius: 50%; /* Làm cho các góc trở nên tròn để tạo ra hình ellipse */
  z-index: 88;
}
.card-img::after {
  content: "";
  position: absolute;
  left: -40px; /* Điều chỉnh để ellipse nằm ngay tại cạnh phải của `.card-img` */
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 40px; /* Điều chỉnh chiều rộng của ellipse */
  height: 80px; /* Điều chỉnh chiều cao của ellipse */
  background-color: #ECECEC; /* Màu của ellipse */
  border-radius: 50%; /* Làm cho các góc trở nên tròn để tạo ra hình ellipse */
  z-index: 88;
}
.image-container {

  width: 100%;
  overflow: hidden;
  position: relative;

  .img-home {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
  }
  &::after, &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 40px; /* Điều chỉnh chiều rộng của ellipse */
    height: 80px; /* Điều chỉnh chiều cao của ellipse */
    background-color: #ffff; /* Màu của ellipse */
    border-radius: 50%; /* Làm cho các góc trở nên tròn để tạo ra hình ellipse */
    display: block; /* Thêm thuộc tính display */
  }
  &::after {
    left: -30px;
  }
  &::before {
    right: -30px;
    z-index: 88;
  }
}
@media (max-width: 768px) {
  .image-container::before {
    right: -50px; /* Thay đổi giá trị cho màn hình điện thoại */
    z-index: 88;
  }
  .image-container::after {
    left: -50px; /* Thay đổi giá trị cho màn hình điện thoại */
  }
  .radius-img{
    border-radius: 16px;
  }
}
.radius-img{
  border-radius: 36px;
}
@media (max-width:1200px){
  .radius-img{
    border-radius: 24px;
  }
}

.img-custom{
  width: 100%;
  overflow: hidden;
  position: relative;
  .img-inner {
    object-fit:cover;
    width: 100% !important;
    position: relative !important;
  }
}

.background-btn-project:hover{
  background: transparent !important;
}
.background-btn-about:hover{
  border: 1px solid transparent!important;
}


.semi-circle{
  border-radius: 50% 50% 0 50%;
  border-right: transparent;
  border-bottom: transparent;
  width: 100%;
}