@tailwind base;

body, html {
  @apply h-full;
}
textarea:focus, input:focus{
  outline: none;
}


@tailwind components;
@import "./fonts.scss";

@import "./components/buttons.scss";
@import "./components/dialog.scss";
@import "./components/radio.scss";
@import "./components/menu.scss";
@import "./components/toast.scss";
@import "./components/table.scss";
@import "./components/switch.scss";
@import "./components/progressbar.scss";
@import "./components/status.scss";
@import "./components/pagination.scss";
@import "./components/date-picket.scss";
@import "./components/badge.scss";
@import "./components/footer.scss";
@import "./components/custom-slide.scss";
@import "./components/loading.scss";

@import "./custom_theme.scss";

@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background: rgb(var(--color-50));
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgb(var(--color-400));
}
//Convert color variable to R,G,B index. Include hex, rgb and hsl color.
//Ex: #FFFFFF --> 255 255 255
// rgb(255, 255, 255) --> 255 255 255
// hsl(0,0,100) --> 255 255 255
@function toRGB($color) {
  @return unquote(red($color) + " " + green($color) + " " + blue($color));
}

@layer base {
  :root {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Lato';
    // To use below color variable in css or scss, use following syntax: rgb(var(--color-name))
    //Ex: rgb(var(--primary-50)) --> rgb(255,249,230)
    --text-primary: #{toRGB(#313442)};

    --primary-50: #{toRGB(#FFF7DF)};
    --primary-100: #{toRGB(#FFEAAF)};
    --primary-200: #{toRGB(#FFEAAF)};
    --primary-300: #{toRGB(#FFEAAF)};
    --primary-500: #{toRGB(#FFC709)};
    --primary-600: #{toRGB(#F0AF08)};
    --primary-700: #{toRGB(#DB850D)};
    --primary-800: #{toRGB(#BE6500)};

    --secondary: #{toRGB(#82869E)};
    --secondary-50: #{toRGB(#E6F1F8)};
    --secondary-100: #{toRGB(#D9EAF5)};
    --secondary-200: #{toRGB(#B3D5EB)};
    --secondary-300: #{toRGB(#99C7E4)};
    --secondary-500: #{toRGB(#0072BC)};
    --secondary-600: #{toRGB(#0061A0)};
    --secondary-700: #{toRGB(#005084)};
    --secondary-800: #{toRGB(#004471)};

    
    --common-1000: #{toRGB(#FFFFFF)};
    --common-0: #{toRGB(#1F242C)};
  }
}

/* init preset className */
.h1 {
  font-size: theme('fontSize.48');
  line-height: theme('lineHeight.64');
  font-weight: theme('fontWeight.semibold');
}

.h2 {
  font-size: theme('fontSize.40');
  line-height: theme('lineHeight.56');
  font-weight: theme('fontWeight.extrabold');
}

.h3 {
  font-size: theme('fontSize.32');
  line-height: theme('lineHeight.40');
  font-weight: theme('fontWeight.semibold');
}

.h4 {
  font-size: theme('fontSize.28');
  line-height: theme('lineHeight.36');
  font-weight: theme('fontWeight.semibold');
}

.title1 {
  font-size: theme('fontSize.24');
  line-height: theme('lineHeight.32');
  font-weight: theme('fontWeight.extrabold');
}

.title2 {
  font-size: theme('fontSize.24');
  line-height: theme('lineHeight.36');
  font-weight: theme('fontWeight.semibold');
}

.title3 {
  font-size: theme('fontSize.20');
  line-height: theme('lineHeight.28');
  font-weight: theme('fontWeight.extrabold');
}

.title4 {
  font-size: theme('fontSize.18');
  line-height: theme('lineHeight.24');
  font-weight: theme('fontWeight.bold');
}

.title5 {
  font-size: theme('fontSize.18');
  line-height: theme('lineHeight.24');
  font-weight: theme('fontWeight.semibold');
  
}

.sub-title1 {
  font-size: theme('fontSize.15');
  line-height: theme('lineHeight.24');
  font-weight: theme('fontWeight.bold');
  
}

.sub-title2 {
  font-size: theme('fontSize.15');
  line-height: theme('lineHeight.24');
  font-weight: theme('fontWeight.semibold');
  
}

.sub-title3 {
  font-size: theme('fontSize.13');
  line-height: theme('lineHeight.24');
  font-weight: theme('fontWeight.bold');
  
}
.body-text-24-bold {
  @include body(theme('fontSize.24'), theme('lineHeight.28'), theme('fontWeight.bold'));
}

.body-text-24-semibold {
  @include body(theme('fontSize.24'), theme('lineHeight.32'), theme('fontWeight.semibold'));
}

.body-text-24-medium {
  @include body(theme('fontSize.24'), theme('lineHeight.32'), theme('fontWeight.medium'));
}
.body-text-24-regular {
  @include body(theme('fontSize.24'), theme('lineHeight.32'), theme('fontWeight.normal'));
}
.body-text-18-bold {
  @include body(theme('fontSize.18'), theme('lineHeight.28'), theme('fontWeight.bold'));
}

.body1 {
  font-size: theme('fontSize.13');
  line-height: theme('lineHeight.20');
  font-weight: theme('fontWeight.normal');
  
}

.body2 {
  font-size: theme('fontSize.13');
  line-height: theme('lineHeight.20');
  font-weight: theme('fontWeight.semibold');
  
}
.body-text-18-regular {
  @include body(theme('fontSize.18'), theme('lineHeight.28'), theme('fontWeight.normal'));
}
.body-text-16-bold {
  @include body(theme('fontSize.16'), theme('lineHeight.24'), theme('fontWeight.bold'));
}

.caption1 {
  font-size: theme('fontSize.12');
  line-height: theme('lineHeight.20');
  font-weight: theme('fontWeight.semibold');
  
}

.caption2 {
  font-size: theme('fontSize.12');
  line-height: theme('lineHeight.16');
  font-weight: theme('fontWeight.normal');
  
}
.body-text-16-regular {
  @include body(theme('fontSize.16'), theme('lineHeight.24'), theme('fontWeight.normal'));
}
.body-text-14-bold {
  @include body(theme('fontSize.14'), theme('lineHeight.20'), theme('fontWeight.bold'));
}

.body-text-14-semibold {
  @include body(theme('fontSize.14'), theme('lineHeight.20'), theme('fontWeight.semibold'));
}

.body-text-14-medium {
  @include body(theme('fontSize.14'), theme('lineHeight.20'), theme('fontWeight.medium'));
}
.body-text-14-regular {
  @include body(theme('fontSize.14'), theme('lineHeight.20'), theme('fontWeight.normal'));
}
.body-text-12-bold {
  @include body(theme('fontSize.12'), theme('lineHeight.16'), theme('fontWeight.bold'));
}

.body-text-12-semibold {
  @include body(theme('fontSize.12'), theme('lineHeight.16'), theme('fontWeight.semibold'));
}

.body-text-12-medium {
  @include body(theme('fontSize.12'), theme('lineHeight.16'), theme('fontWeight.medium'));
}
.body-text-12-regular {
  @include body(theme('fontSize.12'), theme('lineHeight.16'), theme('fontWeight.normal'));
}
.body-text-10-bold {
  @include body(theme('fontSize.10'), theme('lineHeight.12'), theme('fontWeight.bold'));
}

.body-text-10-semibold {
  @include body(theme('fontSize.10'), theme('lineHeight.12'), theme('fontWeight.semibold'));
}

.body-text-10-medium {
  @include body(theme('fontSize.10'), theme('lineHeight.12'), theme('fontWeight.medium'));
}
.body-text-10-regular {
  @include body(theme('fontSize.10'), theme('lineHeight.12'), theme('fontWeight.normal'));
}
